Get API key from https://console.cloud.google.com/apis/credentials?project=youtube-channels-data-scrape

In [ ]:
import os
import google.auth
import google.auth.transport.requests
import requests
from google.oauth2.credentials import Credentials
from apiclient.discovery import build
import pandas as pd
import numpy as np

In [ ]:
# Set API key and search query
API_KEY = ""  #input the API key
QUERY = ["data science","ai", "machine learning", "nlp", "cv", "computer vision"]
channel_ids = []

# Build the YouTube Data API v3 client
youtube = build('youtube', 'v3', developerKey=API_KEY)

In [ ]:
for query in QUERY:
    # Define the API request to search for channels
    search_request = youtube.search().list(
        part="id",
        q=query,
        type="channel",
        maxResults=100  # Set the maximum number of search results to retrieve
    )

    # Execute the API request and retrieve the response
    search_response = search_request.execute()

    # Extract the channel IDs from the first page of search results
    channel_ids += [result["id"]["channelId"] for result in search_response["items"]]

    while "nextPageToken" in search_response:
        # Define the API request to retrieve the next page of search results
        search_request = youtube.search().list(
            part="id",
            q=query,
            type="channel",
            maxResults=50,
            pageToken=search_response["nextPageToken"]  # Set the page token for the next page of results
        )
        
        # Execute the API request and retrieve the response
        search_response = search_request.execute()
        
        # Extract the channel IDs from the current page of search results
        channel_ids += [result["id"]["channelId"] for result in search_response["items"]]

# # Print the channel IDs
# print(channel_ids)

In [ ]:
yt_data = pd.DataFrame()

In [ ]:
# def input_validation(x):
#   try:
#     out = input_validation
#     return out
#   except:
#     return ""

In [ ]:

# Build the YouTube Data API v3 client
youtube = build('youtube', 'v3', developerKey=API_KEY)

# Loop over the channel IDs and retrieve the channel data
for channel_id in channel_ids:
    channel_request = youtube.channels().list(
        part="snippet,contentDetails,statistics",
        id=channel_id
    )
    channel_response = channel_request.execute()
    # print(channel_response)
    try:
      country = (channel_response['items'][0]['snippet']['country'])
    except:
      country = ""
    yt_data = yt_data.append([[channel_response['items'][0]['snippet']['title'], channel_response['items'][0]['snippet']['description'],
                              country, channel_response['items'][0]['statistics']['subscriberCount'],
                              channel_response['items'][0]['statistics']['videoCount']]])

In [ ]:
yt_data.columns = ['channel', 'description', 'country','subscriberCount','videoCount']

In [ ]:
yt_data.reset_index(inplace=True, drop =True)
yt_data

,channel,description,country,subscriberCount,videoCount
0,365 Data Science,At 365 Data Science we make #DataScience acces...,BG,278000,215
1,Thu Vu data analytics,Hi there! Thanks for checking out my channel. ...,US,127000,61
2,Data Science for Everyone,Data Science for Everyone (DS4E) is an educati...,US,5410,268
3,Data Science Tutorials,"In this channel, my objective is to go through...",,49200,968
4,Data Science Courses,,,18300,81
...,...,...,...,...,...
276,NC Data Science,,,438,29
277,UChicago Data Science Institute,The Data Science Institute (DSI) executes the ...,US,424,99
278,Data Science Society,Data Science Society is an international digit...,BG,1330,158
279,UNC School of Data Science and Society,"We envision a world made healthy, safe, and pr...",,16,3
280,Data Science PJ,,,123,59

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as pt
%matplotlib inline

In [ ]:
yt_data.drop_duplicates(subset = ['channel'],inplace=True)
yt_data.shape

(272, 5)

In [ ]:
yt_data['subscriberCount'] = yt_data['subscriberCount'].astype(int)
yt_data['videoCount'] = yt_data['subscriberCount'].astype(int)

In [ ]:
yt_data.sort_values(by='subscriberCount', ascending=False)
yt_data_popular = yt_data[yt_data['subscriberCount']>=35000]
yt_data_popular

,channel,description,country,subscriberCount,videoCount
0,365 Data Science,At 365 Data Science we make #DataScience acces...,BG,278000,278000
1,Thu Vu data analytics,Hi there! Thanks for checking out my channel. ...,US,127000,127000
3,Data Science Tutorials,"In this channel, my objective is to go through...",,49200,49200
9,Rob Mulla,Medallion Data Science is a channel devoted to...,US,71300,71300
11,Anastasia K,Hi everyone! \nMy name is Anastasia and I am a...,SE,36600,36600
19,Emma Ding,I'm an Ex-Airbnb Data Scientist and Software E...,CA,40200,40200
20,Unfold Data Science,This channel is to help people understand basi...,IN,51200,51200
22,MeanThat & Authentic Data Science,Educational channel that covers the topics of ...,SK,46900,46900
23,Data Science Dojo,Data Science Dojo is an e-learning company tha...,US,94200,94200
40,Data School,Are you trying to learn data science so that y...,US,216000,216000
45,Tina Huang,Hi! My name is Tina and I'm a data scientist a...,US,492000,492000
46,Ken Jee,Data Science and Sports Analytics are my passi...,US,239000,239000
51,Sundas Khalid,"Hi, I am Sundas. On this channel, I talk about...",US,125000,125000
75,Data Professor,"Data Science, Machine Learning, Bioinformatics...",TH,150000,150000
85,ExcelR,,IN,37200,37200
96,Luke Barousse,"What's up, Data Nerds! I'm Luke, a data analys...",US,328000,328000
117,ritvikmath,Data science for all.,,112000,112000
123,360DigiTMG,360DigiTMG is a global leader delivering a wid...,IN,38600,38600
140,BigDataKB․com,"Raam Raam Everyone, on this channel, We provid...",IN,49800,49800
143,Greg Hogg,Hey there! 😃\n\nI'm Greg - a Data Scientist fr...,CA,40500,40500
150,Great Learning,Great Learning is Asia’s leading professional ...,IN,757000,757000
151,Abhishek Thakur,"I make videos about applied machine learning, ...",NO,79900,79900
167,Krish Naik,I am the cofounder of iNeuron and my experienc...,IN,735000,735000
168,Seja Um Data Scientist,,BR,71600,71600
191,DataScience ForBusiness,Data Science orientado a negocio. Aprende Data...,ES,39100,39100
199,edureka!,"Thank you for Subscribing! If you have not, Su...",IN,3730000,3730000
218,Intellipaat,Intellipaat is a global online professional tr...,IN,1660000,1660000
223,Krish Naik Hindi,In this channel you will be seeing data scienc...,IN,54700,54700
230,Analytics with Nags,This YouTube Channel has Microsoft Power BI tu...,IN,69700,69700

In [ ]:
pt.bar(data_frame=yt_data_popular, x='channel', y ='subscriberCount')

In [ ]:
'Darshil Parmar' in yt_data['channel'].values

False

In [ ]:
yt_data.sort_values(by='channel', ascending=True)

,channel,description,country,subscriberCount,videoCount
242,Data Science ultimates,This channel provides all types of Data scienc...,,1,1
388,the data science coder,,,0,0
105,360DigiTMG,360DigiTMG is a global leader delivering a wid...,IN,38600,38600
2,365 Data Science,At 365 Data Science we make #DataScience acces...,BG,278000,278000
332,365 Data Science Tutorials,Welcome to the 365 Data Science Tutorials Chan...,BG,267,267
...,...,...,...,...,...
93,Ômega Data Science,A Ômega escola online de Data Science é uma em...,BR,1550,1550
125,İstanbul Data Science Academy,,,892,892
307,МФК по Data Science,,,370,370
586,Юлия Безгинова | Data Science по-женски,▪️ Юлия Безгинова\n▪️ Выросла в data science д...,,271,271
544,𝑇𝑒𝑓𝑒𝑟𝑖,17 year old future Data Scientist/Software Eng...,US,17,17